@model IEnumerable<Eveq_Oicar_web.Models.Ticket>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketQR)
            </th>
            <th>
                @Html.Label("Ticket Ownership")
            </th>
            <th>
                @Html.Label("Ticket for Event")
            </th>
            <th>
                @Html.Label("Price")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsValid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketQR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.FirstName)
                @Html.DisplayFor(modelItem => item.Member.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.TicketPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsValid)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
