@model Eveq_Oicar_web.Models.Member

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}

<h2 class="with-font text-center " style="font-weight: 800; margin: 5em auto auto auto">Account Info: </h2>
<div class="col-md-4 centered" style="background-color: rgba(0, 0, 0, 0.3); border-radius: 25px;">


    <div class="form-group text-center" style="margin-top: 10px;">

        <label class="control-label with-font" style="font-weight: 800; font-size: large;">First Name: </label>
        <label class="control-label with-font" style="font-weight: 800; font-size: large;">  @Html.DisplayFor(model => model.FirstName) </label>
        <br />


        <label class="control-label with-font" style="font-weight: 800; font-size: large;">Last Name: </label>
        <label class="control-label with-font" style="font-weight: 800; font-size: large;"> @Html.DisplayFor(model => model.LastName) </label>
        <br />

        <label class="control-label with-font" style="font-weight: 800; font-size: large;">Refferal Code: </label>
        @{
            String refferal = Model.RefferalCode;
            if (refferal != null)
            {
                <label class="control-label with-font" style="font-weight: 800; font-size: large;">
                    @Html.DisplayFor(model => model.RefferalCode)
                </label>
                <br />

            }
            else
            {
                <label class="control-label with-font" style="font-weight: 800; font-size: large;">
                    You don't have a refferal code.
                </label>
                <br />
            }
        }


        <label class="control-label with-font" style="font-weight: 800; font-size: large;">Number of Refferals: </label>
        <label class="control-label with-font" style="font-weight: 800; font-size: large;">
            @Html.DisplayFor(model => model.NumberOfRefferals)
        </label>
        <br />

        <label class="control-label with-font" style="font-weight: 800; font-size: large;">Membership Valid: </label>
        <label class="control-label with-font" style="font-weight: 800; font-size: large;">
            @Html.DisplayFor(model => model.MembershipValid)
        </label>
        <br />


    </div>

    <div style="margin-top: 10px; width: 100%;">
        @Html.ActionLink("Edit", "Edit", new { id = Model.UID }, new { @class = "form-group text-center btn btn-light" });
    </div>
</div>


